
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rampart+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: Comfortaa;
}

.root{
  padding: 30px;
  background-color: #2a2d35;
  position: relative;
  
}
.root::before{
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  background-color:#ffffff ;
  position: absolute;
  top: 15%;
  left: -1px; 
  box-shadow: 1890px  0px 0px 0px  #ffffff ;

  

}


.gridContainer{
  display: grid;
  grid-template-areas: 
  "header    header header header header"
  "navigator outlet outlet outlet outlet"
  "navigator outlet outlet outlet outlet"
  ;
  gap: 5px;
}
.header {
  grid-area: header;
  background-color:#fedfaa;
  height: 150px;
  width: 100%;
}

.navigator{
  
  background-color:#32353b ;
  grid-area: navigator;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 800px;
  
  
  
  
}
.outlet{
  color:#32353b ;
  grid-area: outlet;
  width: 100%;
  background-color: #ffffff ;
}